<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.pss.mapper.RoleMapper">
	<resultMap type="role" id="base_mapping">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="sn" property="sn"/>
		<collection property="permissions" column="id" ofType="permission" 
		select="com.xmg.pss.mapper.PermissionMapper.getPermissionsByRloe"/>
		<collection property="menus" column="id" ofType="SystemMenu"
					select="com.xmg.pss.mapper.SystemMenuMapper.getMenusByRole"/>
	</resultMap>
	
	<insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO role(name,sn)VALUES(#{name},#{sn})
	</insert>
	
	<update id="delete">
		DELETE FROM role WHERE id=#{id}
	</update>
	
	<update id="update">
		UPDATE role SET name=#{name},sn=#{sn} WHERE id=#{id}
	</update>
	
	<select id="get" resultMap="base_mapping">
		SELECT * FROM role WHERE id=#{id}
	</select>
	
	<select id="list" resultMap="base_mapping">
		SELECT * FROM role
	</select>
	
	<select id="getTotalCount" resultType="long">
		SELECT COUNT(*) FROM role
	</select>
	
	<select id="getListData" resultMap="base_mapping">
		SELECT * FROM role LIMIT #{beginIndex},#{pageSize}
	</select>
	
	<insert id="updatePermissionRelation">
		INSERT INTO role_permission VALUES(#{rId},#{pId})
	</insert>
	
	<delete id="deletePermissionRelationByRole">
		DELETE FROM role_permission WHERE role_id = #{rId}
	</delete>
	
	<select id="getRoleByEmployee" parameterType="long" resultMap="base_mapping">
		SELECT r.* FROM role r JOIN employee_role er ON r.id = er.role_id
		WHERE er.employee_id = #{eid}
	</select>
	
	<delete id="deleteRelationFromEmpByRole">
		DELETE FROM employee_role WHERE role_id=#{rid}
	</delete>

	<delete id="batchDeleteRelationByRole">
		DELETE FROM role_permission WHERE role_id IN
		<foreach collection="list" item="id" open="(" close=")" separator=",">
					#{id}
		</foreach>
	</delete>

	<delete id="batchDeleteRelationFromEmpByRole">
		DELETE FROM employee_role WHERE role_id IN
		<foreach collection="list" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>

	<delete id="batchdelete">
		DELETE FROM role WHERE id IN
		<foreach collection="list" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>

	<insert id="updateMenuRelation">
		INSERT INTO role_menu(role_id,menu_id)VALUES(#{rId},#{mId})
	</insert>

	<delete id="deleteMenuRelationByRole">
		DELETE FROM role_menu WHERE role_id=#{rid}
	</delete>
</mapper>