<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.pss.mapper.StockIncomeBillMapper">
    <resultMap id="BaseResultMap" type="com.xmg.pss.domain.StockIncomeBill">
        <id column="id" property="id"/>
        <result column="sn" property="sn"/>
        <result column="vdate" property="vdate"/>
        <result column="status" property="status"/>
        <result column="totalAmount" property="totalAmount"/>
        <result column="totalNumber" property="totalNumber"/>
        <result column="inputTime" property="inputTime"/>
        <result column="auditTime" property="auditTime"/>
        <association property="auditor" column="auditor_id" select="com.xmg.pss.mapper.EmployeeMapper.get"/>
        <association property="inputUser" column="inputUser_id" select="com.xmg.pss.mapper.EmployeeMapper.get"/>
        <association property="depot" column="depot_id" select="com.xmg.pss.mapper.DepotMapper.get"/>
        <collection property="items" column="id" select="getItemsByBillId"/>
    </resultMap>
    <resultMap id="BaseItemResultMap" type="StockIncomeBillItem">
        <id column="id" property="id"/>
        <result column="costPrice" property="costPrice"/>
        <result column="number" property="number"/>
        <result column="amount" property="amount"/>
        <result column="remark" property="remark"/>
        <association property="product" column="product_id" select="com.xmg.pss.mapper.ProductMapper.get"/>
        <association property="bill" column="bill_id" select="get"/>
    </resultMap>
    <delete id="delete" parameterType="long">
    delete from stockIncomeBill where id = #{id}
  </delete>
    <insert id="save" parameterType="com.xmg.pss.domain.StockIncomeBill" useGeneratedKeys="true" keyProperty="id">
    insert into stockIncomeBill 
    (sn,auditor_id,vdate,status,auditTime,inputTime,depot_id,totalAmount,totalNumber,inputUser_id)
    values
    (#{sn},#{auditor.id},#{vdate},#{status},#{auditTime},#{inputTime},#{depot.id},#{totalAmount},#{totalNumber},#{inputUser.id})
  </insert>
    <update id="update" parameterType="com.xmg.pss.domain.StockIncomeBill">
    update stockIncomeBill
    set
	    sn=#{sn},
	    vdate=#{vdate},
	    depot_id=#{depot.id},
	    totalAmount=#{totalAmount},
	    totalNumber=#{totalNumber}
    where id = #{id}
  </update>
    <select id="get" resultMap="BaseResultMap" parameterType="long">
    select * from stockIncomeBill where id = #{id}
  </select>
    <select id="list" resultMap="BaseResultMap">
    select * from stockIncomeBill
  </select>
    <sql id="conditionSql">
        <where>
            <if test="beginDate!=null">
                vdate &gt;= #{beginDate}
            </if>
            <if test="endDate!=null">
                AND vdate &lt;= #{endDate}
            </if>
            <if test="depotId>0">
                AND depot_id=#{depotId}
            </if>
            <if test="status>-1">
                AND status=#{status}
            </if>
        </where>
    </sql>
    <select id="getTotalCount" resultType="long">
        select count(*) from stockIncomeBill
        <include refid="conditionSql"/>
    </select>
    <select id="pageQuery" resultMap="BaseResultMap">
        select * from stockIncomeBill
        <include refid="conditionSql"/>
        limit #{beginIndex},#{pageSize}
    </select>
    <insert id="saveItem">
        INSERT INTO stockincomebillitem(costPrice,number,amount,remark,product_id,bill_id)
        VALUES (#{costPrice},#{number},#{amount},#{remark},#{product.id},#{bill.id})
    </insert>
    <select id="getItemsByBillId" resultMap="BaseItemResultMap">
        SELECT * FROM stockincomebillitem WHERE bill_id=#{id}
    </select>
    <delete id="deleteItemsByBillId">
        DELETE FROM stockincomebillitem WHERE bill_id=#{id}
    </delete>
    <update id="audit">
         update stockIncomeBill
    set
        auditor_id=#{auditor.id},
        auditTime=#{auditTime},
        status=#{status}
    where id = #{id}
    </update>
</mapper>